header {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  width: 100%;
  top: 0; 
}

.frame1 {
  background: #FFFFFF;
}

.grupo14 {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  width: 560px  ;
  margin: 0;
  text-align: center;
}

.grupo40{
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0;
  text-align: center;
}

.grupo13 {
  width: auto;
  flex-shrink: 0;
  opacity: 0.8;

}

.frame {
  width: 145px;
  height: 51px;
  flex-shrink: 0;
  margin: auto;
  display: block;
}

.retangulo45 {
  background: var(--amarelo, #fbaf17);
  border-radius: 150px 0px 0px 150px;
  width: 55%;
  height: auto;
  position: relative;
}

ul {
  font-family: Gotham;
  padding-left: 25px;
  padding-right: 25px;
  color: #202332;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto; 
}

li {
  margin-right: 3rem;
  margin-left: auto;
  margin-right: auto; 
  list-style-type: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.03em;
  text-align: left;

}

li img{
  color:white;
  width: 12px;
  height: 12px;
  padding: 2px;
}

.home{
  font-size: 30px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: center;
}

.sublinhado{
  border-radius: 30px;
  background-color: #FFFFFF;
  padding: 2px;  
}

.contato {
  font-family: Gotham;
  font-size: 18px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #FFFFFF;
  background-color:#202332;
  width: 142px;
  height: 42px;
  top: 19px;
  left: 1376px;
  border-radius: 10px;
  margin-left: 10px;
}